{% extends 'common/base.html' %}
{% block content %}

<div class="container">

  <div class="cont-img">
  <img src="https://w7.pngwing.com/pngs/184/113/png-transparent-user-profile-computer-icons-profile-heroes-black-silhouette-thumbnail.png" alt="Profile picture">
  </div>

  <div class="p-s">
  <p>Name: Rosen Ivanov</p>

  <p>Age: 15</p>

  <p>Username: RosenBG1234</p>

    <a href="#">
      <button class="edit-btn-profile"><i class="fa-solid fa-pencil"></i>Edit Profile</button>
    </a>

  </div>

</div>

{% endblock %}