{% extends 'common/base.html' %}
{% block content %}

    <main>
        <!-- Create Author's Profile Form (Only if no author's profile has been created) -->
        <section id="register">
            <div class="form">
                <h2>Create Author's Profile</h2>

                <form class="register-form" method="post" action="{% url 'create-author' %}">
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit">Create</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}