{% extends 'common/base.html' %}
{% block content %}

    <main>
        <section id="edit">
            <div class="form">
                <h1>You are about to delete your Author's Profile</h1>
                <!-- Delete Author's Profile Form -->

                <form id="delete" class="register-form" method="post" action="{% url 'delete-author' %}">
                    {% csrf_token %}
                    <button type="submit">Confirm</button>
                </form>
            </div>
            <!-- End Delete Form -->
        </section>
    </main>
{% endblock %}