{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Team Manager</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<style>
    body {
        background-image: url("/static/images/background.jpg");
        background-repeat: no-repeat;
    }
</style>

<body>

    <div class="links">

        <a href="{% url "index" %}" class="ball-link-a"><img class="ball-link" src="/static/images/ball.png" alt=""></a>
        <a href="{% url 'create-team' %}" class="create-team">Create Team</a>
        <a href="{% url 'create-player' %}" class="create-player">Create Player</a>
        <a href="{% url 'create-league' %}" class="create-league">Create League</a>
        <a href="{% url 'login' %}" class="login">Login</a>
        <a href="{% url 'logout' %}" class="logout">Logout</a>
        <a href="{% url 'register' %}" class="register">Register</a>
        <a href="{% url 'profile-details' %}" class="profile-details">Profile</a>

    </div>
    
    {% block content %}
    	
    {% endblock %}

    <div class="base-footer">

        <footer>
            &copy;Rosen Rosenov Ivanov 2024 Football Team Manager
            <a href="http://instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="http://facebook.com"><i class="fa-brands fa-facebook"></i></a>
        </footer>

    </div>

</body>
</html>