{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href={%  static 'styles/styles.css' %} />
    <title>Travelers Hub</title>
</head>

<body>
     <header>
            <!-- Navigation -->

            <!-- Logo image: a link to index/home page -->
            <a id="logo" href="{% url 'index' %}">
                <img id="logo-img" src="/static/images/logo-boeing.png" alt="logo" />
            </a>

            <nav>
                <!-- If there is a traveler's profile -->
                {% if travelers %}
                <div class="user">
                    <a href="{% url "all-trips" %}">All Trips</a>
                    <a href="{% url 'create-trip' %}">Share Trip</a>
                    <a href="{% url 'details-traveler' %}">Traveler's Profile</a>
                </div>

                <!-- If the traveler's profile has NOT been created -->
                {% else %}
                <div class="guest">
                    <a href="{% url 'create-traveler' %}">New Traveler's Profile</a>
                </div>
                {% endif %}
            </nav>
     </header>
     
     {% block content %}
     
     {% endblock %}
 <!-- footer -->
    <footer>
        <p>&copy; 2024 Travelers Hub by SoftUni Team. All rights reserved.</p>
    </footer>
</body>

</html>