{% extends 'base.html' %}
{% block content %}

        <main>

            <!-- Delete Trip Form -->
            <section id="edit">

                <div class="form">
                    <h2>Delete Trip</h2>
                    <form class="edit-form" method="" action="">
                        <div>
                            <label for="id_destination">Destination:</label>

                            <input type="text" name="destination" value="London, UK" maxlength="100" readonly="readonly"
                                required id="id_destination">

                        </div>

                        <div>
                            <label for="id_summary">Summary:</label>

                            <textarea name="summary" cols="40" rows="10" readonly="readonly" required id="id_summary">An exciting trip to London, full of adventures
                            </textarea>

                        </div>

                        <div>
                            <label for="id_start_date">Started on:</label>

                            <input type="date" name="start_date" value="2024-10-13" readonly="readonly" required
                                id="id_start_date">

                        </div>

                        <div>
                            <label for="id_duration">Duration:</label>

                            <div class="helptext" id="id_duration_helptext">*Duration in days is expected.</div>

                            <input type="number" name="duration" value="2" min="0" readonly="readonly" required
                                aria-describedby="id_duration_helptext" id="id_duration">

                        </div>

                        <div>
                            <label for="id_image_url">Image URL:</label>

                            <input type="url" name="image_url" maxlength="200" readonly="readonly" id="id_image_url">

                        </div>

                        <button type="submit">Delete</button>
                    </form>
                </div>

            </section>

        </main>
{% endblock %}