{% extends 'base.html' %}
{% block content %}

        <main>

            <!-- Delete Trip Form -->
            <section id="edit">

                <div class="form">
                    <h2>Delete Trip</h2>
                    <form class="edit-form" method="post" action="{% url 'trip-delete' trip.pk %}">
                        {{ form }}
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </div>

            </section>

        </main>
{% endblock %}