{% extends 'base.html' %}
{% block content %}
        <main>

            <!-- Trip Details -->
            <section id="details">
                <div id="details-wrapper">
                    <h2>Trip Details</h2>

                    <!-- trip image if there is such, otherwise display the default one -->
                    <img src="{{ trip.image_url }}"
                        alt="{{ trip.destination }} img" />

                    <!-- trip destination -->
                    <p id="details-title">{{ trip.destination }}</p>

                    <div id="info-wrapper">
                        <div id="details-description">

                            <!-- trip start date in format "D d M Y" -->
                            <p class="description">
                                {{ trip.start_date|date:'D d M Y' }}
                            </p>
                            <!-- trip duration -->
                            <p>
                                {{ trip.duration }} day/s
                            </p>
                            <!-- trip summary -->
                            <p>
                                {{ trip.summary }}
                            </p>
                        </div>

                        <!--Edit and Delete buttons -->
                        <div id="action-buttons">
                            <a href="{% url 'trip-edit' trip.pk %}" id="edit-btn">Edit</a>
                            <a href="{% url 'trip-delete' trip.pk %}" id="delete-btn">Delete</a>
                        </div>
                    </div>
                </div>
            </section>

        </main>
{% endblock %}