{% extends 'base.html' %}
{% block content %}

        <main>

            <!-- Traveler's Profile Details Section -->

            <section id="details">
                <div id="details-wrapper">
                    <h2>Traveler's Profile</h2>

                    <!-- a default traveler's image -->
                    <img id="details-img" src="/static/images/default-traveler.png" alt="profile img" />

                    <!-- traveler's nickname -->
                    <p id="details-title">{{ traveler.nickname }}</p>

                    <!-- traveler's email and country -->
                    <p id="nutrition"><span>Email: </span>{{ traveler.email }}<span> Country: </span>{{ traveler.country }}</p>

                    <div id="info-wrapper">
                        <div id="details-description">
                            
                            {% if traveler.about_me %}
                            <!-- info (about me) if provided, skip it if there is no info -->
                            <p><span>About me: </span>{{ traveler.about_me }}
                            </p>
                            
                            {% endif %}

                            <!-- if there are trips - list data; skip if no trips -->
                            <p><span>Shared Trips:</span></p>

                            <!-- <ul> element containing all trips, ordered by start_date descending -->
                            <ul>
                                
                                {% for trip in traveler.trip_set.all %}
                                <!-- <li> element for each trip's data in the format: "{destination}: {duration} day/s, started on: {start_date}" -->
                                <!-- trip 1-->
                                <li>{{ trip.destination }}: {{ trip.duration }} day/s, started on: {{ trip.start_date|date:'Y-m-d' }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                        <!--Edit and Delete buttons -->
                        <div id="action-buttons">
                            <a href="{% url 'edit-traveler' %}" id="edit-btn">Edit</a>
                            <a href="{% url 'delete-traveler' %}" id="delete-btn">Delete</a>
                        </div>
                    </div>
                </div>
            </section>

        </main>
{% endblock %}