@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    padding: 20px;
}

.container:hover {
    transform: scale(1.05);
}

.container img {
    border-radius: 50%;
    width: 300px;
}

.container .cont-img {
    margin: 20px auto;
}

.container .p-s {
    flex: 1;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.container .edit-btn-profile {
    border: 1px solid #3A8ABE;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 13px;
    background-color: #3A8ABE;
    color: white;
}

.container .edit-btn-profile:hover {
    opacity: 0.6;
    cursor: pointer;
    border: 1px solid blue;
}

.container .edit-btn-profile i {
    padding-right: 5px;
}