{% extends 'common/base.html' %}
{% block content %}

    <main>
        <!-- Dashboard page -->
        {% if not posts %}
        <!-- Display a heading if there are NO posts -->
        <h2>No published posts yet.</h2>
        {% else %}
        <!-- Display a heading if there are posts -->
        <h2>Published Posts</h2>
        
        <section id="dashboard">
        {% for post in posts %}    
            
            <!-- Display a div with information about each post (if any) -->

            <!-- first post -->
            <div class="post">
                <!-- post image -->
                <img
                        src="{{ post.image_url }}"
                        alt="{{ post.title }} img"
                />
                <!-- post title -->
                <h3 class="title">{{ post.title }}</h3>
                <!-- post content -->
                <p class="description">{{ post.content|truncatewords:3 }}</p>
                <!-- post details button -->
                <a class="details-btn" href="{% url 'post-details' post.pk %}">See More</a>
            </div>
        {% endfor %}
        
        </section>
        {% endif %}
    </main>
{% endblock %}