{% extends 'common/base.html' %}
{% block content %}

<div class="player-form">
    <h2>Register</h2>
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" required>
        </div>


        <div class="form-group">
            <label for="league_name">Username:</label>
            <input type="text" name="league_name" id="league_name" required>
        </div>

        <div class="form-group">
            <label for="country">Password:</label>
            <input type="password" name="country" id="country" required>
        </div>

        <a href="#"><button class="register-btn"><i class="fa-solid fa-address-card"></i>Register</button></a>
    </form>
</div>

{% endblock %}