body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
}


h1 {
    color: blue;
}

.ball-link {
    width: 50px;
    height: 50px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    text-align: center;
    opacity: 0.8;
}

.links {
    display: flex;
    gap: 20px
}

.links a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 18px;
    transition: all ease-in-out .2s;
}

.links a:hover {
    color: blue;
    border-bottom: 5px solid blue;
}

.base-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    opacity: 0.8;
}

.base-footer i {
    padding-left: 10px;
    font-size: 1.2rem;
}

.logout-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
}

.logout-nav-menu h1 {
    color: white;
    font-size: 3rem;
}

.logout-nav-menu .btn-group {
    display: flex;
    gap: 20px;
}

.logout-nav-menu .btn-group button {
    border-radius: 14px;
    color: white;
    padding: 8px 13px;
    font-size: 1.5rem;
    margin: 0;
}

.logout-nav-menu .btn-group .yes-btn {
    border: 2px solid #14A021;
    background-color: #14A021;
}

.logout-nav-menu .btn-group .no-btn {
    border: 2px solid #E91705;
    background-color: #E91705;
}

.logout-nav-menu .btn-group button:hover {
    cursor: pointer;
    border-radius: 14px;
}

.logout-nav-menu .btn-group .yes-btn:hover{
    border: 2px solid green;
    background-color: lightgreen;
}

.logout-nav-menu .btn-group .no-btn:hover{
    border: 2px solid red;
    background-color: lightcoral;
}

.logout-nav-menu .btn-group i {
    padding-right: 5px;
}
