{% extends 'common/base.html' %}
{% block content %}


<div class="player-form">
  <h2>Edit Profile</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="Rosen Ivanov" required>
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" name="age" value="15" id="age" required>
    </div>


    <div class="form-group">
      <label for="league_name">Username:</label>
      <input type="text" name="league_name" id="league_name" value="RosenBG1234" required>
    </div>

    <div class="form-group">
      <label for="profile_picture">Profile Picture:</label>
      <input type="url" name="profile_picture" id="profile_picture" required>
    </div>

    <a href="#"><button class="edit-profile-btn"><i class="fa-solid fa-pencil"></i>Edit Profile</button></a>
  </form>
</div>

{% endblock %}