<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <title>TastyRecipesApp</title>
  </head>

  <body>
    <div id="box">
      <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="#">Tasty Recipes</a></h1>
        <nav>
          <!-- if the user has not created a profile -->
          <a href="#">Create Profile</a>

          <!-- if the user has created a profile -->
          <a href="#">Catalogue</a>
          <a href="#">Create Recipe</a>
          <a href="#">Profile</a>
        </nav>
      </header>

      <section id="create-page" class="auth">
        <div class="container">
          <h1>Are you sure you want to delete your profile?</h1>
          <!-- Delete Profile Form -->
          <form id="delete">
            <!-- Confirm Button -->
            <input class="btn submit" type="submit" value="Yes" />
          </form>
        </div>
        <!-- End Delete Profile Form -->
      </section>

      <!-- Footer -->
      <footer>&copy;SoftUni Team 2024. All rights reserved.</footer>
    </div>
  </body>
</html>
