<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <title>TastyRecipesApp</title>
  </head>

  <body>
    <div id="box">
      <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="#">Tasty Recipes</a></h1>
        <nav>
          <!-- if the user has not created a profile -->
          <a href="#">Create Profile</a>

          <!-- if the user has created a profile -->
          <a href="#">Catalogue</a>
          <a href="#">Create Recipe</a>
          <a href="#">Profile</a>
        </nav>
      </header>

      <!-- delete recipe form -->
      <section id="delete-page" class="auth">
        <form id="delete" method="">
          <div class="container">
            <h1>Delete Recipe</h1>
            <div>
              <label for="id_title">Title:</label>

              <input
                type="text"
                name="title"
                value="Caprese Salad"
                maxlength="100"
                readonly="readonly"
                required
                id="id_title"
              />
            </div>

            <div>
              <label for="id_cuisine_type">Cuisine Type:</label>

              <select
                name="cuisine_type"
                readonly="readonly"
                required
                id="id_cuisine_type"
              >
                <option value="">---------</option>

                <option value="French">French</option>

                <option value="Chinese">Chinese</option>

                <option value="Italian" selected>Italian</option>

                <option value="Balkan">Balkan</option>

                <option value="Other">Other</option>
              </select>
            </div>

            <div>
              <label for="id_ingredients">Ingredients:</label>

              <div class="helptext" id="id_ingredients_helptext">
                Ingredients must be separated by a comma and space.
              </div>

              <textarea
                name="ingredients"
                cols="40"
                rows="10"
                placeholder="ingredient1, ingredient2, ..."
                readonly="readonly"
                required
                aria-describedby="id_ingredients_helptext"
                id="id_ingredients"
              >
Fresh tomatoes, Fresh mozzarella cheese, Fresh basil leaves, Balsamic glaze</textarea
              >
            </div>

            <div>
              <label for="id_instructions">Instructions:</label>

              <textarea
                name="instructions"
                cols="40"
                rows="10"
                placeholder="Enter detailed instructions here..."
                readonly="readonly"
                required
                id="id_instructions"
              >
Slice the tomatoes and mozzarella cheese into even slices.
Arrange the tomato and mozzarella slices on a plate, alternating with basil leaves.
Drizzle balsamic glaze over the top.
Season with salt and pepper to taste.</textarea
              >
            </div>

            <div>
              <label for="id_cooking_time">Cooking Time:</label>

              <div class="helptext" id="id_cooking_time_helptext">
                Provide the cooking time in minutes.
              </div>

              <input
                type="number"
                name="cooking_time"
                value="10"
                min="0"
                readonly="readonly"
                required
                aria-describedby="id_cooking_time_helptext"
                id="id_cooking_time"
              />
            </div>

            <div>
              <label for="id_image_url">Image URL:</label>

              <input
                type="url"
                name="image_url"
                value="https://cdn.pixabay.com/photo/2016/12/27/21/22/salad-1934944_1280.jpg"
                placeholder="Optional image URL here..."
                maxlength="200"
                readonly="readonly"
                id="id_image_url"
              />
            </div>
            <!-- delete button -->
            <input class="btn submit" type="submit" value="Delete Recipe" />
          </div>
        </form>
      </section>

      <!-- footer -->
      <footer>&copy;SoftUni Team 2024. All rights reserved.</footer>
    </div>
  </body>
</html>
