{% extends "base.html" %}
{% block content %}

      <!-- delete recipe form -->
      <section id="delete-page" class="auth">
        <form id="delete" method="post" action="{% url 'delete-recipe' recipe.pk %}">
          <div class="container">
            <h1>Delete Recipe</h1>
            {{ form }}
            {% csrf_token %}  
            <!-- delete button -->
            <input class="btn submit" type="submit" value="Delete Recipe" />
          </div>
        </form>
      </section>

{% endblock %}