<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <title>TastyRecipesApp</title>
  </head>

  <body>
    <div id="box">
      <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="#">Tasty Recipes</a></h1>
        <nav>
          <!-- if the user has not created a profile -->
          <a href="#">Create Profile</a>

          <!-- if the user has created a profile -->
          <a href="#">Catalogue</a>
          <a href="#">Create Recipe</a>
          <a href="#">Profile</a>
        </nav>
      </header>

      <!-- details section -->
      <section id="recipe-details">
        <h1>Recipe Details</h1>
        <div class="info-section">
          <div class="recipe-header">
            <!-- recipe image -->
            <!-- if there is no image url provided, display the default recipe image -->

            <img
              class="recipe-img"
              src="https://cdn.pixabay.com/photo/2016/12/27/21/22/salad-1934944_1280.jpg"
              alt="recipe image"
            />

            <!-- recipe title -->
            <h1>Caprese Salad</h1>
            <!-- recipe cuisine type -->
            <p><span class="description-recipe">Cuisine Type: Italian</span></p>
            <!-- recipe cooking time -->
            <p><span class="description-recipe">Cooking Time: 10min.</span></p>
            <!-- recipe ingredients -->
            <div class="ingredients">
              <p><span class="description-recipe">Ingredients:</span></p>
              <ul>
                <!-- recipe ingredient -->
                <li>Fresh tomatoes</li>

                <!-- recipe ingredient -->
                <li>Fresh mozzarella cheese</li>

                <!-- recipe ingredient -->
                <li>Fresh basil leaves</li>

                <!-- recipe ingredient -->
                <li>Balsamic glaze</li>
              </ul>
            </div>
            <p>
              <span class="description-recipe"
                >Instructions: Slice the tomatoes and mozzarella cheese into
                even slices. Arrange the tomato and mozzarella slices on a
                plate, alternating with basil leaves. Drizzle balsamic glaze
                over the top. Season with salt and pepper to taste.</span
              >
            </p>
          </div>

          <!-- Edit/Delete buttons -->
          <div class="buttons">
            <a href="#" class="edit-button">Edit</a>
            <a href="#" class="delete-button">Delete</a>
          </div>
        </div>
      </section>

      <!-- footer -->
      <footer>&copy;SoftUni Team 2024. All rights reserved.</footer>
    </div>
  </body>
</html>
