{% extends "base.html" %}
{% block content %}
      <!-- edit recipe form -->
      <section id="create-page" class="auth">
        <form id="create" method="post", action="{% url 'edit-recipe' recipe.pk %}">
          <div class="container">
            <h1>Edit Recipe</h1>
            <div>
            {{ form }}
            {% csrf_token %}    
            <!-- edit button -->
            <input class="btn submit" type="submit" value="Edit Recipe" />
          </div>
          </div>    
        </form>
      </section>

{% endblock %}