{% extends 'common/base.html' %}
{% block content %}

<div class="player-form">

  <h2>Create Player</h2>
  <form>
    <div class="form-group">
      <label for="name">Player Name:</label>
      <input type="text" name="name" id="name" required>
    </div>

    <div class="form-group">
      <label for="age">Player Age:</label>
      <input type="number" name="age" id="age" required>
    </div>

    <div class="form-group">
      <label for="price">Player Price:</label>
      <input type="number" name="price" id="price" required>
    </div>

    <div class="form-group">
      <label for="club">Player Club:</label>
      <select name="club" id="club">
        <option>Manchester United</option>
        <option>Chelsea</option>
        <option>Liverpool</option>
      </select>
    </div>


    <a href="#"><button><i class="fa-solid fa-check"></i>Create Player</button></a>
  </form>

</div>

{% endblock %}