{% extends "base.html" %}
{% block content %}

      <!-- delete car form -->
      <section id="delete-page" class="auth">
        <form id="delete">
          <div class="container">
            <h1>Delete Car</h1>
            <label for="type">Type:</label>
            <select name="type" disabled required="" id="type">
              <option value="">---------</option>
              <option value="Rally" selected="">Rally</option>
              <option value="Open-wheel">Open-wheel</option>
              <option value="Kart">Kart</option>
              <option value="Drag">Drag</option>
              <option value="Other">Other</option>
            </select>
            <label for="model">Model:</label>
            <input
              type="text"
              name="model"
              value="Ford"
              maxlength="20"
              disabled="disabled"
              readonly="readonly"
              required=""
              id="model"
            />

            <label for="year">Year:</label>
            <input
              type="number"
              name="year"
              value="2017"
              disabled="disabled"
              readonly="readonly"
              required=""
              id="year"
            />

            <label for="image_url">Image URL:</label>
            <input
              type="url"
              name="image_url"
              value="https://cdn.pixabay.com/photo/2017/06/19/19/05/rally-2420637_1280.jpg"
              disabled="disabled"
              readonly="readonly"
              required=""
              id="image_url"
            />

            <label for="price">Price:</label>
            <input
              type="number"
              name="price"
              value="85000.0"
              step="any"
              disabled="disabled"
              readonly="readonly"
              required=""
              id="price"
            />

            <input class="btn submit" type="submit" value="Delete Car" />
          </div>
        </form>
      </section>

      <!-- footer -->
{% endblock %}