{% extends "base.html" %}
{% block content %}
      <header>
        <!-- Navigation Bar -->
        <h1>
          <a class="index-navigation" href="#"
          ><span>World of Speed</span></a
        >
        </h1>
        <nav>
          <a href="#">Catalogue</a>
          <a href="#">Create Car</a>
          <a href="#">Profile</a>
        </nav>
      </header>

      <!-- details section -->
      <section id="car-details">
        <h1>Car Details</h1>
        <div class="info-section">
          <div class="car-header">
            <!-- car image -->
            <img
              class="car-img"
              src="https://cdn.pixabay.com/photo/2017/06/19/19/05/rally-2420637_1280.jpg"
              alt="car image"
            />
            <!-- car type -->
            <h1>Rally</h1>
            <!-- car model -->
            <p><span class="description">Model: Ford Puma M</span></p>
            <!-- car year -->
            <p><span class="description">Year: 2017</span></p>
            <!-- car price -->
            <p><span class="description">Price: 85000.000</span></p>
          </div>

          <!-- Edit/Delete buttons -->
          <div class="buttons">
            <a href="#" class="edit-button">Edit</a>
            <a href="#" class="delete-button">Delete</a>
          </div>
        </div>
      </section>

{% endblock %}