{% extends "base.html" %}
{% block content %}
      <header>
        <!-- Navigation Bar -->
        <h1>
          <a class="index-navigation" href="#"
            ><span>World of Speed</span></a
          >
        </h1>
        <nav>
          <!-- if the user has not created a profile -->
          <a href="#">Create Profile</a>

          <!-- if the user has created a profile -->
          <a href="#">Catalogue</a>
          <a href="#">Create Car</a>
          <a href="#">Profile</a>
        </nav>
      </header>

      <!-- headlines -->
      <section id="index-headline">
        <div class="index-message">
          <h2>Welcome <span>to</span> the <span>World</span> of<span>Speed</span>!</h2>
        </div>
        <img src="/static/images/racing-index.png" alt="car" />
      </section>

{% endblock %}