{% extends "base.html" %}
{% block content %}
      <header>
        <!-- Navigation Bar -->
        <h1>
          <a class="index-navigation" href="#"
          ><span>World of Speed</span></a
        >
        </h1>
        <nav>
          <a href="#">Catalogue</a>
          <a href="#">Create Car</a>
          <a href="#">Profile</a>
        </nav>
      </header>

      <!-- profile details section -->
      <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
          <div class="car-header">
            <!-- default profile image (if the user does NOT have any)-->
            <img
              class="car-img"
              src="/static/images/default-profile.png"
              alt="profile-image"
            />
            <!-- if the user has a profile image -->
            <img class="car-img" src="" alt="profile-image" />
            <!-- user full name (if any) -->
            <h1>Ivan Ivanov</h1>
            <!-- user username -->
            <p class="description">Username: test_user</p>
            <!-- user email -->
            <p class="description">Email: test@test.com</p>
            <!-- user age -->
            <p class="description">Age: 21</p>
            <!-- total price of all cars -->
            <p class="description">Total price: 398000.000</p>
            <!-- Edit/Delete buttons -->
            <div class="buttons">
              <a href="#" class="edit-button">Edit</a>
              <a href="#" class="delete-button">Delete</a>
            </div>
          </div>
        </div>
      </section>

{% endblock %}