{% extends "common/base.html" %}

{% block content %}

    <div class="players-container">
      <div class="player-card">
        <img src="https://toppng.com/uploads/preview/eden-hazard-eden-hazard-2018-2019-11562855649wpzww7qwcj.png" alt="Eden Hazard">
        <p>Name: Eden Hazard</p>
        <p>Age: 32</p>
        <p>Price: 200 000$</p>
        <a href="#" class="btn-group"><button><i class="fa-solid fa-circle-info"></i>Details</button></a>
      </div>

      <div class="player-card">
        <img src="https://toppng.com/uploads/preview/eden-hazard-eden-hazard-2018-2019-11562855649wpzww7qwcj.png" alt="Eden Hazard">
        <p>Name: Eden Hazard</p>
        <p>Age: 32</p>
        <p>Price: 200 000$</p>
        <a href="#" class="btn-group"><button><i class="fa-solid fa-circle-info"></i>Details</button></a>
      </div>
    </div>

{% endblock %}
